.App {
  
}



h1, p {
  font-family: Lato;
}

.App {
  margin-top: 30px;
  width: 100%;
  display: flex;
  float: left;
}

.sidenav{
  background-color: grey;
  width: 200px;
  height: 500px;
  padding-top: 30px;
  display: flex;
}
.tablediv{
  padding:10px;
  width: 700px;
}
.formdiv{
  padding:10px;
  width: 350px;
}

form{
  border: 1px solid #dddddd;
 
  /* background-color: skyblue; */
  padding: 30px;
}

label,input,button,textfield,InputLabel{
  margin: 5px;
}
td, th {
  border: 1px solid #dddddd;
  width:50px;
  text-align: left;
  padding: 8px;
}
#button{
  margin: 10px;

}
.header_icons{
  display: flex;
  
  
}
.header_logo{
  width: 70%;
}
.header{
  display: flex;
} 